@model FinalASP.Models.ms_data

@{
    ViewBag.Title = "留言板-詳細資料";
}

<h2>詳細資料</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            id:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt>
            留言者:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            信箱:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            留言內容:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.message)
        </dd>

        <dt>
            留言時間:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("編輯留言", "Edit", new { id = Model.id }) |
    @Html.ActionLink("回留言板", "Index")
</p>
